[user]
	email = markus@kult.design
	name = Markus Evanger
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/markusevanger/.gitignore_global
